body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-color: #6A994E;
}

.container
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 540px;
    width: 80%;
    background-color: #6A994E;

    border: 7px solid #F2E8CF;
}

.goal
{
    height: 400px;
    width: 200px;
    background-color: #6A994E;
    border: 7px solid #F2E8CF;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

/* Left Goal Settings */
.goalleft
{
    border-left: 0px;
}

.dleft
{
    height: 200px;
    width: 200px;

    order: 2;

    border: 5px solid #F2E8CF;
    border-radius: 50%;
    border-color: transparent;
    border-right-color: #F2E8CF;

    position: relative;
    left: 28px;
}

.keeperleft
{
    height: 250px;
    width: 150px;
    border: 5px solid #F2E8CF;
    border-left: 0px;
    
    order: 1;

    position: relative;
    right: 20px;
}

.netleft
{
    height: 60px;
    width: 25px;
    border: 5px solid #F2E8CF;
    border-right: 0px;

    position: relative;
    right: 23px;
}

/* Middle Circle Settings */

.midcircle
{
    width: 125px;
    height: 125px;

    background-color: #6A994E;
    border: 5px solid #F2E8CF;
    border-radius: 50%;

    position: relative;
    left: 1px;
}

.midline
{
    height: 540px;
    width: 0px;
    border: 2.5px solid #F2E8CF;

    position: absolute;
    left: 50%;
}

.dots
{
    display: flex;
    width: 80%;
    justify-content: space-between;
    position: absolute;
}

.dots > *
{
    height: 15px;
    width: 15px;
    background-color: #F2E8CF;

    border-radius: 50%;
}

.dot1
{
    position: relative;
    left: 135px;
}

.dot2
{
    position: relative;
    left: 1.5px;
}

.dot3
{
    position: relative;
    right: 135px;
}

/* Right Goal Settings */
.goalright
{
    border-right: 0px;
    order: 2;
}

.dright
{
    height: 200px;
    width: 200px;

    border: 5px solid #F2E8CF;
    border-radius: 50%;
    border-color: transparent;
    border-left-color: #F2E8CF;

    position: relative;
    right: 28px;
}

.keeperright
{
    height: 250px;
    width: 150px;
    border: 5px solid #F2E8CF;
    border-right: 0px;
    
    order: 1;

    position: relative;
    left: 20px;
}

.netright
{
    height: 60px;
    width: 25px;
    border: 5px solid #F2E8CF;
    border-left: 0px;

    order:2;

    position: relative;
    left: 23px;
}

